@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "colfax-web, sans-serif";
  src: url("../libs/fonts/Colfax-Medium.otf");
}

main {
  @apply mt-8;
}

.sp {
  @apply py-8;
}

.wrapper {
  @apply container mx-auto px-5 lg:px-0;
}

.eq {
  transition: 500ms cubic-bezier(0.25, 1, 0.5, 1);
}
