@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "colfax-web, sans-serif";
  src: url("../libs/fonts/Colfax-Medium.otf");
}

body {
  overflow-x: hidden;
}

main {
  @apply mt-8;
}

.sp {
  @apply py-8;
}

.wrapper {
  @apply container mx-auto px-5 2xl:px-0;
}

.eq {
  transition: 500ms cubic-bezier(0.25, 1, 0.5, 1);
}

.btn {
  @apply hover:scale-110 eq;
}

/* NAVBAR */
.nav-link {
  position: relative;
}

.nav-link::after {
  content: "";
  width: 0%;
  height: 1px;
  background-color: #000000;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateX(0);
  transition: 0.3s;
}
.nav-link:hover::after {
  width: 100%;
}

/* HERO */

.hero-overlay {
  height: 18rem !important;
  width: 18rem !important;
  background-color: #f2f2f2 !important;
}

.hero-block {
  height: 15rem !important;
  width: 15rem !important;
}

.hero-img {
  border: 1.5rem solid white !important;
  object-fit: cover !important;
}

.hero-text {
  line-height: 1.2 !important;
}

.circle {
  height: 16rem;
  width: 16em;
  background: linear-gradient(to bottom, #806bff 40%, #806bff 50%);
  filter: blur(100px);
  opacity: 60%;
}
.circle-2 {
  position: absolute;
  background: linear-gradient(to bottom, #806bff 40%, #806bff 50%);
  filter: blur(100px);
  opacity: 50%;
  z-index: 1;
}
.circle-3 {
  background: linear-gradient(to bottom, #806bff 40%, #806bff 50%);
  filter: blur(100px);
  opacity: 50%;
  z-index: 1;
}
.circle-4 {
  background: linear-gradient(to bottom, #806bff 40%, #806bff 50%);
  filter: blur(100px);
  opacity: 50%;
  z-index: 1;
}

.stripe {
  z-index: 2;
}

/* SKILLS */

.skill {
  z-index: 3;
}

/* PROJECTS */

.projects {
  z-index: 3;
}

.project-text {
  line-height: 1.8 !important;
  font-weight: 300 !important;
  font-size: 16px !important;
}

/* EXPLORATION */

.exploration {
  position: relative;
  z-index: 3;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.2rem;
}

/* CONTACT */

.social-link {
  z-index: 2;
}

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
